html,
body {
  height: 100%;
  margin: 0;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  flex-basis: 1/6;
  background-color: #c5e1a5;
}

#config {
  flex-basis: 2/6;
  background-color: #b0bec5;
  flex-direction: column;
}

#config-choice {
  flex-direction: row;
  gap: 10px;
}

#game {
    flex-grow: 1;
}

#game-board {
    background-color: bisque;
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 
              0 2px 2px rgba(0, 0, 0, 0.15), 
              0 4px 4px rgba(0, 0, 0, 0.15), 
              0 8px 8px rgba(0, 0, 0, 0.15);
}

#game-board div {
    background-color: #fff;
    border-radius: 5px;
    border: none; 
    padding: 0; 
}

